# --- Deep Learning & Computer Vision ---
torch>=2.0.0
torchvision>=0.15.0
pillow>=10.0.0

# --- Analisi Dati & Calcolo Scientifico ---
numpy>=1.24.0
pandas>=2.0.0
sympy>=1.12
scipy
scikit-learn>=1.0.0 

# --- Visualizzazione ---
matplotlib>=3.8.0